.createAvatarDiv_content {
  background-color: #e8fff8;
  position: absolute;
  transform: translate(-250px, -300px);
  z-index: 999;
  /* top: 0; */
  /* right: 0; */
  width: 300%;
  border: 1px solid grey;
  border-radius: 4px;
}

.container3 {
  /* margin: 30px 30px; */
  width: 30%;
}

.previewDiv {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}

.choose-file {
  width: 250px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  padding: 0;
  border: none;
}
.profile-pic_rank {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 0;
  border: none;
}
.profile-pic3 {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin: 0 auto;
}

.opaque {
  opacity: 1 !important;
}

.delete-button {
  font-size: 30px;
  left: -41px;
  top: 65px;
  padding: 0 7px;
  svg {
    margin-bottom: 0.1rem;
  }
}
