.createAvatarDiv_content {
  background-color: #e8fff8;
  position: absolute;
  transform: translate(-250px, -300px);
  z-index: 999;
  /* top: 0; */
  /* right: 0; */
  width: 160%;
  border: 1px solid grey;
  border-radius: 4px;
}

.m-auto {
  z-index: 999;
}

.container {
  height: 20%;
}

.container3 {
  /* margin: 30px 30px; */
  width: 30%;
}

.previewDiv {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}

.choose-file {
  width: 250px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  padding: 0;
  border: none;
}
.profile-pic_rank {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 0;
  border: none;
}
.profile-pic3 {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin: 0 auto;
}

.opaque {
  opacity: 1 !important;
}

.delete-button {
  font-size: 25px;
  top: -46px;
  left: 110px;
  background-color: skyblue;
  svg {
    margin-bottom: 0.1rem;
  }
}

.btn-primary {
  background-color: #aeaeae;
}

.btn-primary_header {
  background-color: #aeaeae;
}

.btn-primary_ranking {
  background-color: #aeaeae;
}

.btn-danger_base:hover {
  background-color: salmon;
}
