.createAvatarDiv_content {
  background-color: #e8fff8;
  position: absolute;
  transform: translate(-186px, -213px);
  z-index: 999;
  width: 290%;
  border: 1px solid grey;
  border-radius: 4px;
}

.m-auto {
  z-index: 999;
}

.container {
  height: 20%;
  z-index: 999;
}

.container3 {
  width: 30%;
}

.previewDiv {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}

.choose-file {
  width: 250px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  padding: 0;
  border: none;
}
.profile-pic_rank {
  width: 200px;
  height: 200px;
  margin: 25px;
  padding: 0;
  border: none;
}
.profile-pic3 {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin: 0 auto;
}

.opaque {
  opacity: 1 !important;
}

.delete-button {
  font-size: 25px;
  top: -44px;
  left: 104px;
  background-color: skyblue;
  svg {
    margin-bottom: 0.1rem;
  }
}

.edit-button {
  position: absolute;
  font-size: 25px;
  top: 111px;
  left: 127px;
  background-color: skyblue;
  svg {
    margin-bottom: 0.1rem;
  }
}

.edit-button:hover {
  background-color: salmon;
  cursor: pointer;
  transition-duration: 0.7s;
}

.btn-primary {
  background-color: #aeaeae;
}

.btn-primary_header {
  background-color: #aeaeae;
}

.btn-primary_ranking {
  background-color: #aeaeae;
}

.btn-danger_base:hover {
  background-color: salmon;
}
