.createAvatarDiv_content {
  background-color: #e8fff8;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 50%;
  border: 1px solid grey;
  border-radius: 4px;
}

.previewDiv {
  border: 1px solid grey;
  width: 150px;
  height: 150px;
}

.choose-file {
  width: 250px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  padding: 0;
  border: none;
}
.profile-pic2 {
  width: 125px;
  height: 125px;
  padding: 0;
  border: none;
}

.opaque {
  opacity: 1 !important;
}

.delete-button {
  left: -20px;
  top: 30px;
  padding: 0 7px;
  svg {
    margin-bottom: 0.1rem;
  }
}
