.mini-button {
  display: inline-block;
  border-radius: 5%; /* 角丸       */
  font-size: 15px; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px 12px; /* 余白       */
  background: #c5956b; /* 背景色     */
  color: #ffffff; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 3px 3px 1px #666666; /* 影の設定 */
  border: 2px solid #000066; /* 枠の指定 */
}

.mini-button:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #000066; /* 背景色     */
  background: #ffffff; /* 文字色     */
}
